@import "../../../styles/index.scss";

.product2 {
    padding: 100px 0;
    background-color: var(--bgcolor2);

    @include breakpoint("sm-max") {
        padding: 50px 0;
    }

    .product-head {
        @include flex-center;
        margin-bottom: 50px;

        @include breakpoint("sm-max") {
            margin-bottom: 30px;
        }

        h2 {
            display: inline-block;
            position: relative;
            padding: 0 10px;
            @include font40;
            color: var(--font-color);

            @include breakpoint("md-max") {
                @include font32;
            }

            &::before,
            &::after {
                position: absolute;
                top: 50%;
                width: 80px;
                height: 4px;
                content: "";
                background-color: var(--font-color);
                border-radius: 99px;
            }
            &::before {
                right: 100%;
            }
            &::after {
                left: 100%;
            }

            @include breakpoint("sm-max") {
                @include font26;
                text-align: center;
                padding: 0 5px;
                margin: 0 40px;

                &::before,
                &::after {
                    width: 40px;
                    height: 2px;
                }
            }
        }
    }

    .product-grid {
        @include grid4c;
        gap: 30px;

        @include breakpoint("md-max") {
            @include grid2c;
        }

        @include breakpoint("sm-max") {
            @include grid1c;
        }

        .product-grid-box {
            display: grid;
            grid-template-rows: auto 1fr;

            @include breakpoint("sm-max") {
                margin: 0 auto;
                max-width: 300px;
            }

            .product-grid-img {
                background-color: var(--color-white);
                padding: 30px 10px;
                border-radius: 10px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                @include breakpoint("sm-max") {
                    padding: 20px 0;
                }

                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                    aspect-ratio: 1 / 1;
                }
            }

            .product-grid-text {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                
                h3 {
                    @include font20;
                    font-weight: 700;
                    color: var(--font-color);
                    margin-top: 15px;
                }

                h4 {
                    @include font16;
                    margin-top: 10px;
                    color: var(--font-color3);
                    font-family: var(--font-family-headland);

                    span {
                        color: var(--font-color);
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
