@import "../../../styles/index.scss";

.hero-banner {
    background-image: url("../../../assets/images/jpg/heroBanner.jpg");
    width: 100%;
    padding: 200px 0 170px 0;
    background-size: cover;
    background-position: center left;
    position: relative;

    @include breakpoint("sm-max") {
        padding: 130px 0 100px 0;
    }

    .hero-banner-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }

    .hero-banner-div {
        position: relative;
        color: var(--color-white);

        h1 {
            @include font50;

            @include breakpoint("sm-max") {
                @include font32;
            }
        }

        p {
            margin: 20px 0;
            @include font18;
            line-height: 1.5;
            font-family: var(--font-family-inter);

            @include breakpoint("sm-max") {
                @include font16;
            }
        }
    }
}
