:root {
    --color-white: #fff;
    --color-black: #000;

    --font-color: #452d29;
    --font-color2: #452d29;
    --font-color3: #9d8c86;
    --font-color4: #683a2b;
    --font-color-ancor: #ffffffd2;
    --font-color-error: #ffeb3b;

    --bgcolor: #cccccc;
    --bgcolor2: #fff8f6;
    --bgcolor3: #002336;

    --border-color: #000;

    --error-accent-color: #ff6f61;
    
    --font-family-inter: "Inter", sans-serif;
    --font-family-Poppins: "Poppins", sans-serif;
    --font-family-montserrat: "Montserrat", sans-serif;
    --font-family-headland: "Headland One", serif;
}