@import "../../../styles/index.scss";

.updated {
    margin: 100px 0;

    @include breakpoint("sm-max") {
        margin: 50px 0;
    }

    .updated-div {
        background-image: url("../../../assets/images/jpg/updateBg.webp");
        padding: 60px;
        background-size: cover;
        position: relative;
        border-radius: 15px;
        overflow: hidden;

        @include breakpoint("sm-max") {
            padding: 40px 30px;
        }

        .updated-div-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }

        .updated-div-text {
            position: relative;
            color: var(--color-white);
            text-align: center;

            h2 {
                @include font40;

                @include breakpoint("md-max") {
                    @include font32;
                }

                @include breakpoint("sm-max") {
                    @include font26;
                }
            }

            p {
                @include font16;
                line-height: 1.5;
                max-width: 550px;
                margin: 30px auto;
            }

            .updated-input {
                position: relative;
                max-width: 400px;
                margin: 0 auto;

                input {
                    padding: 14px;
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 12px;
                    border: 1px solid var(--color-white);
                    @include font14;
                    color: var(--color-white);

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}
